#menuPrincipal {
    list-style: none;
    color: red;
}
main  {
    color: white;
    background-color: blue
    
}

#listah2 h2    { font-size: 38px
    ;
}

h2{
    font-size: 20px;
}